:root {
  --hf-bg-color: #1f2937;
  --btn-color: #3882f6;
  --btn-hover: #0053da;
  --hf-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --quote-bg: #e5e7eb;
}

@font-face {
  font-family: roboto;
  src: url(./resources/roboto-regular-webfont.woff2);
}

@font-face {
  font-family: roboto-bold;
  src: url(./resources/roboto-bold-webfont.woff2);
}

@font-face {
  font-family: roboto-italic;
  src: url(./resources/roboto-lightitalic-webfont.woff2);
}

* {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.bg-mybackcolor {
  background-color: var(--hf-bg-color);
}

.text-color {
  color: var(--hf-text-color);
}

h1 {
  font-family: roboto-bold;
  font-size: 2.6em;
  color: var(--hf-text-color);
}

h2 {
  font-family: roboto-bold;
  font-size: 2em;
}

h6 {
  font-family: roboto-bold;
  font-size: 1.5em;
}

.text-bold {
  font-family: roboto-bold;
}

a:hover {
  color: white;
}

.card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.quote {
  font-family: roboto-italic;
  font-size: 1.9em;
  position: relative;
}

.quote-section {
  background-color: var(--quote-bg);
}

.my-footer {
  background-color: var(--hf-bg-color);
  color: var(--secondary-text-color);
}
