:root {
  --hf-bg-color: #1f2937;
  --btn-color: #3882f6;
  --btn-hover: #0053da;
  --hf-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --quote-bg: #e5e7eb;
}

@font-face {
  font-family: roboto;
  src: url(./resources/roboto-regular-webfont.woff2);
}

@font-face {
  font-family: roboto-bold;
  src: url(./resources/roboto-bold-webfont.woff2);
}

@font-face {
  font-family: roboto-italic;
  src: url(./resources/roboto-lightitalic-webfont.woff2);
}

* {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.bg-mybackcolor {
  background-color: var(--hf-bg-color);
}

header nav div a {
  font-family: roboto-bold;
  font-size: 1.2em;
  color: var(--hf-text-color);
  text-decoration: none;
}

header nav div div div ul li a {
  font-family: roboto;
  font-size: 1em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

header div div div div {
  color: var(--hf-text-color);
}
.place-holder {
  background-color: #6d747d;
}

h1 {
  font-family: roboto-bold;
  font-size: 2.6em;
  color: var(--hf-text-color);
}

.text-bold {
  font-family: roboto-bold;
}

a:hover {
  color: white;
}
